.timeline
{
    position: relative;
    z-index: 90;
}

.node
{
    background-image: linear-gradient(to top, transparent 40%, var(--line-color) 10%, transparent 50%);
    background-repeat: repeat-x;
    background-position-y: center;
    position: relative;
    display: flex;
    /*width: 100%;*/
    overflow: visible;
}

.milestones-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: auto;
}

.milestone {
    /*flex-shrink: 0;*/
    display: flex;
    cursor: pointer;
    position: relative;
}

.milestone-icon {
    width: 2em;
    height: 2em;
    border-radius: 50%;
    background-color: #313131;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    transition: transform 0.3s ease;
}

.milestone-icon:hover {
    transform: scale(1.2);
}

/* Hidden content - info panel */
.milestone-info {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 10em;
    width: auto;
    z-index: 100;
}

.milestone:hover .milestone-info {
    display: block;
}

/* Styling for the content panel */
.milestone-content {
    background-color: white;
    border-radius: 0.5rem;
    padding: 1rem;
    box-shadow: 0 2rem 2rem rgba(0, 0, 0, 0.1);
    opacity: 0;
    animation: fadeIn 0.3s forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(1rem);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}



